<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>11:00 PDT/14:00 EDT</td>  <td>Welcome</td> </tr>
      <tr> <td>11:10 PDT/14:10 EDT</td>  <td><a href="03-ixodes-whole-dataset">Whole Dataset</a> and <a href="04-ixodes-point-and-click">Point-and-Click Analysis</a> of Interaction Data </td> </tr>
      <tr> <td>11:50 PDT/14:50 EDT</td>  <td>Group Reports</td> </tr>
      <tr> <td>12:00 PDT/12:10 EDT</td>  <td>Break</td> </tr>
      <tr> <td>12:10 PDT/15:10 EDT</td>  <td>Structured Review of <a href="06-reviewing-taxonomic-names">Taxonomic Names</a> and <a href="07-reviewing-interaction-records">Interaction Records</a></td> </tr>
      <tr> <td>12:50 PDT/15:50 EDT</td>  <td>Group Reports</td> </tr>
      <tr> <td>13:00 PDT/16:00 EDT</td>  <td>End</td> </tr>
      <tr> <td>After</td> <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
    </table>
  </div>
</div>
